# Libraries

! pip install numpy pandas sklearn

In [2]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
from sklearn.impute import SimpleImputer

import warnings
warnings.filterwarnings("ignore")

# Import data

## X

In [3]:
# For training the model
X_train = pd.read_csv("../../X/X_train.csv" , index_col=[0], header=[0,1, 2])

# For cross validation
X_valid = pd.read_csv("../../X/X_valid.csv", index_col=[0], header=[0, 1, 2])

# For prediction
X_test = pd.read_csv("../../X/X_test.csv", index_col=[0], header=[0, 1, 2])

## Task 1

In [4]:
y_train_t1 = pd.read_csv("../../Task1/Y_train.csv")
y_valid_t1 = pd.read_csv("../../Task1/Y_valid.csv")

In [5]:
y_train_t1_value=y_train_t1["mort_icu"]
y_valid_t1_value=y_valid_t1["mort_icu"]

## Task 2

In [6]:
y_train_t2 = pd.read_csv("../../Task2/Y_train.csv")
y_valid_t2 = pd.read_csv("../../Task2/Y_valid.csv")

In [7]:
y_train_t2_value=y_train_t2["los_icu"]
y_valid_t2_value=y_valid_t2["los_icu"]

# Data Pre-processing

## Process 1: Mean

In [8]:
li=[] # Find the positions of the columns with means of the particular feature after 24 hours
for i in range(47, 7488, 72):
    li.append(i)
#print(li)

headlist=list(X_train.columns.values)[1:]
head=[]
for i in li:
    head.append(headlist[i][0])

dx_train = pd. DataFrame(X_train)
X_train_mean= dx_train.iloc[:,li]
X_train_mean.columns=head

dx_valid = pd. DataFrame(X_valid)
X_valid_mean= dx_valid.iloc[:,li]
X_valid_mean.columns=head

dx_test = pd. DataFrame(X_test)
X_test_mean= dx_test.iloc[:,li]
X_test_mean.columns=head

## Process 2: Elimination of features containing 70% 0 value (call is"nozero") and Imputation

In [9]:
# Eliminate feature containing 70% 0 value
import copy
X_train_nozero=copy.deepcopy(X_train_mean)
X_valid_nozero=copy.deepcopy(X_valid_mean)
X_test_nozero=copy.deepcopy(X_test_mean)
for i in X_train_mean.columns:
    if (X_train_nozero[i] == 0).sum()> 12000:
        X_train_nozero.drop(i, axis=1, inplace=True)

headnozero=list(X_train_nozero.columns.values)
X_valid_nozero = X_valid_nozero[X_train_nozero.columns]
X_test_nozero = X_test_nozero[X_train_nozero.columns]

In [10]:
# Impute the 0 with mean
imp = SimpleImputer(missing_values=0, strategy='mean')
X_train_nozero = pd.DataFrame(imp.fit_transform(X_train_nozero))
X_train_nozero.columns=headnozero
X_valid_nozero = pd.DataFrame(imp.fit_transform(X_valid_nozero))
X_valid_nozero.columns=headnozero
X_test_nozero = pd.DataFrame(imp.fit_transform(X_test_nozero))
X_test_nozero.columns=headnozero
X_train_nozero

,alanine aminotransferase,albumin,alkaline phosphate,anion gap,asparate aminotransferase,basophils,bicarbonate,bilirubin,blood urea nitrogen,calcium,...,respiratory rate set,sodium,systolic blood pressure,temperature,tidal volume observed,tidal volume set,tidal volume spontaneous,troponin-t,weight,white blood cell count
0,-0.254460,-1.979855,-0.318615,0.152716,-0.226618,0.003512,-1.337656,-0.298127,0.741842,-1.080013,...,0.339645,0.136911,-0.809384,0.754975,0.336592,0.440628,0.028942,-0.042509,1.026004,0.583116
1,-0.256599,-0.251806,-0.422405,1.361109,-0.254291,-0.742403,-1.123327,-0.444605,1.807475,-0.256308,...,-0.112217,-0.786812,0.359660,-0.089499,-0.060738,-0.049053,0.028942,-0.042509,0.008052,-0.181589
2,-0.269432,0.035006,-0.367050,-0.330641,-0.271686,2.097036,0.591306,-0.395779,-0.416455,0.636039,...,-0.133014,-0.417323,2.697747,0.702221,1.199767,1.279148,0.028942,-0.042509,0.008052,0.107507
3,-0.138451,0.035006,-0.069442,-0.088963,-0.143050,0.003512,0.591306,-0.111027,-0.323791,0.910607,...,-0.112217,0.691146,-0.482051,-0.617335,-0.060738,-0.049053,0.028942,-0.042509,0.008052,0.023576
4,-0.138451,0.035006,-0.069442,-0.813998,-0.143050,0.003512,0.376977,-0.111027,0.602846,0.430112,...,0.103316,1.245380,1.061086,0.438275,0.379751,0.440628,-1.333059,-0.317391,0.008052,-0.442708
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16755,-0.138451,1.044231,-0.069442,-0.813998,-0.143050,0.290121,0.376977,-0.111027,-0.184795,0.361470,...,-0.112217,-0.047833,0.266137,-2.002789,-0.060738,-0.049053,0.028942,-0.366371,0.584864,-0.162937
16756,-0.138451,0.035006,-0.069442,-0.088963,-0.143050,-0.742403,-2.409302,-0.111027,-0.370123,-0.599519,...,-0.112217,0.321656,0.874039,0.042444,-0.060738,-0.049053,0.028942,-0.361918,0.973702,0.405929
16757,-0.260876,1.044231,-0.297857,-0.330641,-0.261407,0.003512,1.448622,-0.151648,0.093196,0.361470,...,-0.112217,-0.602068,-0.856145,-0.815234,-0.060738,-0.049053,0.028942,-0.042509,-0.472878,-0.480010
16758,-0.138451,0.035006,-0.069442,-1.055677,-0.143050,0.003512,0.591306,-0.111027,-0.370123,-0.462235,...,-0.112217,1.430125,1.762512,0.372320,-0.060738,-0.049053,0.028942,-0.042509,0.781214,-0.489336
16759,-0.243765,0.035006,-0.207906,-1.297356,-0.221874,0.003512,1.877280,0.361027,-0.601782,-0.050382,...,-0.369343,-0.602068,1.107848,0.174394,-1.806959,-0.817152,-0.406955,-0.366371,-0.608981,-0.489336

## Normalization

In [12]:
scaler = preprocessing.StandardScaler()

X_train_nozero = scaler.fit_transform(X_train_nozero)
X_train_norm=pd.DataFrame(X_train_nozero)

X_valid_nozero = scaler.fit_transform(X_valid_nozero)
X_valid_norm=pd.DataFrame(X_valid_nozero)

X_test_nozero = scaler.fit_transform(X_test_nozero)
X_test_norm=pd.DataFrame(X_test_nozero)

# Data report

In [13]:
print("*"*60)
print("There are 6 set of X")
print("X_*_nozero")
print("-"*60)
print("Normalized version")
print("X_*_norm")
print("-"*60)
print("There are 4 set of Y")
print("y_train_t1, y_train_t2, y_valid_t1, y_valid_t2")
print("when training, please use: 'y_train_t1_value,y_train_t2_value,y_valid_t1_value,y_valid_t2_value'")
print("*"*60)

************************************************************
There are 6 set of X
X_*_nozero
------------------------------------------------------------
Normalized version
X_*_norm
------------------------------------------------------------
There are 4 set of Y
y_train_t1, y_train_t2, y_valid_t1, y_valid_t2
when training, please use: 'y_train_t1_value,y_train_t2_value,y_valid_t1_value,y_valid_t2_value'
************************************************************