# Libraries

! pip install numpy pandas sklearn

In [33]:
import numpy as np
import pandas as pd
from sklearn import preprocessing

# Import data

## X

In [34]:
# For training the model
X_train = pd.read_csv("../X/X_train.csv" , index_col=[0], header=[0, 1, 2])

In [35]:
X_train

LEVEL2               alanine aminotransferase                                \
Aggregation Function                     mask
hours_in                                    0    1    2    3    4    5    6
3_145834_211552                           1.0  0.0  0.0  0.0  0.0  0.0  0.0
6_107064_228232                           1.0  0.0  0.0  0.0  0.0  0.0  0.0
9_150750_220597                           0.0  0.0  0.0  0.0  0.0  0.0  0.0
11_194540_229441                          0.0  0.0  0.0  0.0  0.0  0.0  0.0
12_112213_232669                          0.0  0.0  0.0  0.0  0.0  0.0  0.0
...                                       ...  ...  ...  ...  ...  ...  ...
99966_167228_252173                       0.0  0.0  0.0  0.0  0.0  0.0  0.0
99973_150202_275083                       0.0  0.0  0.0  0.0  0.0  0.0  0.0
99982_151454_221194                       0.0  0.0  0.0  0.0  0.0  0.0  0.0
99991_151118_226241                       0.0  0.0  0.0  0.0  0.0  0.0  0.0
99995_137810_229633                       0.0  1.0  1.0  0.0  0.0  0.0  0.0

LEVEL2                               ... white blood cell count urine         \
Aggregation Function                 ...          time_since_measured
hours_in                7    8    9  ...                           14     15
3_145834_211552       0.0  0.0  0.0  ...                          6.0    7.0
6_107064_228232       0.0  0.0  0.0  ...                         30.0   31.0
9_150750_220597       0.0  0.0  0.0  ...                         54.0   55.0
11_194540_229441      0.0  0.0  0.0  ...                         78.0   79.0
12_112213_232669      0.0  0.0  0.0  ...                        102.0  103.0
...                   ...  ...  ...  ...                          ...    ...
99966_167228_252173   0.0  0.0  0.0  ...                         86.0   87.0
99973_150202_275083   0.0  0.0  0.0  ...                        110.0  111.0
99982_151454_221194   0.0  0.0  0.0  ...                        134.0  135.0
99991_151118_226241   0.0  0.0  0.0  ...                         14.0   15.0
99995_137810_229633   0.0  0.0  0.0  ...                         38.0   39.0

LEVEL2
Aggregation Function
hours_in                 16     17     18     19     20     21     22     23
3_145834_211552         8.0    9.0   10.0   11.0   12.0   13.0   14.0   15.0
6_107064_228232        32.0   33.0   34.0   35.0   36.0   37.0   38.0   39.0
9_150750_220597        56.0   57.0   58.0   59.0   60.0   61.0   62.0   63.0
11_194540_229441       80.0   81.0   82.0   83.0   84.0   85.0   86.0   87.0
12_112213_232669      104.0  105.0  106.0  107.0  108.0  109.0  110.0  111.0
...                     ...    ...    ...    ...    ...    ...    ...    ...
99966_167228_252173    88.0   89.0   90.0   91.0   92.0   93.0   94.0   95.0
99973_150202_275083   112.0  113.0  114.0  115.0  116.0  117.0  118.0  119.0
99982_151454_221194   136.0  137.0  138.0  139.0  140.0  141.0  142.0  143.0
99991_151118_226241    16.0   17.0   18.0   19.0   20.0   21.0   22.0   23.0
99995_137810_229633    40.0   41.0   42.0   43.0   44.0   45.0   46.0   47.0

[16760 rows x 7488 columns]

In [36]:
# For cross validation
X_valid = pd.read_csv("../X/X_valid.csv", index_col=[0], header=[0, 1, 2])

In [37]:
# For prediction
X_test = pd.read_csv("../X/X_test.csv", index_col=[0], header=[0, 1, 2])

## Task 1

In [38]:
y_train_t1 = pd.read_csv("../Task1/Y_train.csv")
y_valid_t1 = pd.read_csv("../Task1/Y_valid.csv")

## Task 2

In [39]:
y_train_t2 = pd.read_csv("../Task2/Y_train.csv")
y_valid_t2 = pd.read_csv("../Task2/Y_valid.csv")

# Data Pre-processing

## Dealing with N/A data

In [40]:
X_train.isna().sum().sum()

0
0
0

In [ ]:
X_valid.isna().sum().sum()

In [ ]:
X_test.isna().sum().sum()

All data are well-recorded. There is no N/A data

## Statistics Calculation

In [41]:
li=[] # Find the positions of the columns with means of the particular feature after 24 hours
for i in range(47, 7488, 72):
    li.append(i)
#print(li)

In [42]:
dx_train = pd. DataFrame(X_train)
X_train_mean= dx_train.iloc[:,li]
X_train_mean

LEVEL2,alanine aminotransferase,albumin,albumin ascites,albumin pleural,albumin urine,alkaline phosphate,anion gap,asparate aminotransferase,basophils,bicarbonate,...,tidal volume set,tidal volume spontaneous,total protein,total protein urine,troponin-i,troponin-t,venous pvo2,weight,white blood cell count,white blood cell count urine
Aggregation Function,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,...,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean
hours_in,23,23,23,23,23,23,23,23,23,23,...,23,23,23,23,23,23,23,23,23,23
3_145834_211552,-0.254460,-1.979855,0.0,0.0,0.0,-0.318615,0.152716,-0.226618,0.000000,-1.337656,...,0.440628,0.000000,0.0,0.0,0.0,0.000000,0.0,1.026004,0.583116,0.160067
6_107064_228232,-0.256599,-0.251806,0.0,0.0,0.0,-0.422405,1.361109,-0.254291,-0.742403,-1.123327,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,-0.181589,0.000000
9_150750_220597,-0.269432,0.000000,0.0,0.0,0.0,-0.367050,-0.330641,-0.271686,2.097036,0.591306,...,1.279148,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.107507,0.000000
11_194540_229441,0.000000,0.000000,0.0,0.0,0.0,0.000000,-0.088963,0.000000,0.000000,0.591306,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.023576,0.000000
12_112213_232669,0.000000,0.000000,0.0,0.0,0.0,0.000000,-0.813998,0.000000,0.000000,0.376977,...,0.440628,-1.333059,0.0,0.0,0.0,-0.317391,0.0,0.000000,-0.442708,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99966_167228_252173,0.000000,1.044231,0.0,0.0,0.0,0.000000,-0.813998,0.000000,0.290121,0.376977,...,0.000000,0.000000,0.0,0.0,0.0,-0.366371,0.0,0.584864,-0.162937,0.000000
99973_150202_275083,0.000000,0.000000,0.0,0.0,0.0,0.000000,-0.088963,0.000000,-0.742403,-2.409302,...,0.000000,0.000000,0.0,0.0,0.0,-0.361918,0.0,0.973702,0.405929,0.000000
99982_151454_221194,-0.260876,1.044231,0.0,0.0,0.0,-0.297857,-0.330641,-0.261407,0.000000,1.448622,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,-0.472878,-0.480010,0.000000
99991_151118_226241,0.000000,0.000000,0.0,0.0,0.0,0.000000,-1.055677,0.000000,0.000000,0.591306,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.781214,-0.489336,-0.303768
99995_137810_229633,-0.243765,0.000000,0.0,0.0,0.0,-0.207906,-1.297356,-0.221874,0.000000,1.877280,...,-0.817152,-0.406955,0.0,0.0,0.0,-0.366371,0.0,-0.608981,-0.489336,0.000000

In [43]:
dx_valid = pd. DataFrame(X_valid)
X_valid_mean= dx_valid.iloc[:,li]
X_valid_mean

LEVEL2,alanine aminotransferase,albumin,albumin ascites,albumin pleural,albumin urine,alkaline phosphate,anion gap,asparate aminotransferase,basophils,bicarbonate,...,tidal volume set,tidal volume spontaneous,total protein,total protein urine,troponin-i,troponin-t,venous pvo2,weight,white blood cell count,white blood cell count urine
Aggregation Function,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,...,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean
hours_in,23,23,23,23,23,23,23,23,23,23,...,23,23,23,23,23,23,23,23,23,23
4_185777_294638,-0.255529,-0.539814,0.0,0.0,0.0,4.967764,0.152716,-0.230571,-0.742403,-0.480340,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,-1.220127,-0.265520,0.000000
21_109451_217847,-0.149653,0.000000,0.0,0.0,0.0,-0.325534,3.052859,-0.064531,0.000000,-1.766315,...,0.000000,0.000000,0.0,0.0,0.0,0.973905,-0.794602,-0.705746,0.797607,0.000000
25_129635_203487,-0.256599,0.036202,0.0,0.0,0.0,-0.678421,-1.780713,-0.225827,-0.484272,0.162647,...,0.000000,0.000000,0.0,0.0,0.0,0.114525,-0.854332,0.785960,-0.088332,0.000000
114_178393_258626,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.591306,...,2.117668,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.854544,0.499185,-0.249199
129_164174_238431,-0.253390,-0.107802,0.0,0.0,0.0,-0.380889,-0.572320,-0.264570,-0.226141,0.162647,...,0.440628,0.457595,0.0,0.0,0.0,0.000000,0.000000,-0.431409,-0.274846,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99823_179720_296047,-0.229862,0.000000,0.0,0.0,0.0,-0.512357,-1.297356,-0.219502,0.000000,1.662951,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,-0.822857,0.862887,0.000000
99868_177777_231346,-0.269432,2.628276,0.0,0.0,0.0,-0.588469,-1.539034,-0.270104,0.031990,-1.123327,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,-1.304283,-0.023052,0.000000
99899_188409_245756,-0.268363,-0.395810,0.0,0.0,0.0,0.657012,0.636073,-0.259035,0.000000,0.162647,...,-1.236412,-1.235133,0.0,0.0,0.0,-0.335202,0.000000,-0.908408,0.070204,0.501123
99901_131711_226541,0.000000,0.000000,0.0,0.0,0.0,0.000000,-0.572320,0.000000,0.000000,2.734597,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.293011,-0.302823,0.000000
99936_107913_213906,-0.266224,0.000000,0.0,0.0,0.0,-0.318615,-0.572320,-0.266151,0.000000,1.019964,...,0.000000,0.000000,0.0,0.0,0.0,-0.366371,0.000000,-0.692886,-0.461359,0.000000

In [44]:
x_test=X_test.values
dx_test = pd. DataFrame(x_test)
X_test_mean= dx_test.iloc[:,li]

## Normalization

In [45]:
scaler = preprocessing.StandardScaler()
x_train_mean=X_train_mean.values
x_train_mean_scaled = scaler.fit_transform(x_train_mean)
X_train_norm=pd.DataFrame(x_train_mean_scaled)
X_train_norm

,0,1,2,3,4,5,6,7,8,9,...,94,95,96,97,98,99,100,101,102,103
0,-0.467274,-3.269616,-3.298809e-17,-0.000308,-7.205090e-19,-0.516323,0.472435,-0.416013,-0.002152,-1.642616,...,0.588699,-0.016474,-0.002072,-0.000466,-0.00083,0.023948,0.006276,1.248148,0.790475,0.474539
1,-0.472515,-0.434872,-3.298809e-17,-0.000308,-7.205090e-19,-0.702852,1.964001,-0.487618,-1.167979,-1.404320,...,0.027478,-0.016474,-0.002072,-0.000466,-0.00083,0.023948,0.006276,-0.006506,-0.174239,0.001324
2,-0.503966,-0.021802,-3.298809e-17,-0.000308,-7.205090e-19,-0.603370,-0.124192,-0.532627,3.290917,0.502050,...,1.656710,-0.016474,-0.002072,-0.000466,-0.00083,0.023948,0.006276,-0.006506,0.190470,0.001324
3,0.156329,-0.021802,-3.298809e-17,-0.000308,-7.205090e-19,0.056287,0.174121,0.170363,-0.002152,0.502050,...,0.027478,-0.016474,-0.002072,-0.000466,-0.00083,0.023948,0.006276,-0.006506,0.084586,0.001324
4,0.156329,-0.021802,-3.298809e-17,-0.000308,-7.205090e-19,0.056287,-0.720819,0.170363,-0.002152,0.263754,...,0.588699,-2.269709,-0.002072,-0.000466,-0.00083,-0.601420,0.006276,-0.006506,-0.503654,0.001324
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16755,0.156329,1.691187,-3.298809e-17,-0.000308,-7.205090e-19,0.056287,-0.720819,0.170363,0.453437,0.263754,...,0.027478,-0.016474,-0.002072,-0.000466,-0.00083,-0.697928,0.006276,0.708698,-0.150710,0.001324
16756,0.156329,-0.021802,-3.298809e-17,-0.000308,-7.205090e-19,0.056287,0.174121,0.170363,-1.167979,-2.834097,...,0.027478,-0.016474,-0.002072,-0.000466,-0.00083,-0.689154,0.006276,1.184190,0.566944,0.001324
16757,-0.482999,1.691187,-3.298809e-17,-0.000308,-7.205090e-19,-0.479017,-0.124192,-0.506031,-0.002152,1.455235,...,0.027478,-0.016474,-0.002072,-0.000466,-0.00083,0.023948,0.006276,-0.584767,-0.550713,0.001324
16758,0.156329,-0.021802,-3.298809e-17,-0.000308,-7.205090e-19,0.056287,-1.019132,0.170363,-0.002152,0.502050,...,0.027478,-0.016474,-0.002072,-0.000466,-0.00083,0.023948,0.006276,0.948804,-0.562478,-0.896721
16759,-0.441065,-0.021802,-3.298809e-17,-0.000308,-7.205090e-19,-0.317357,-1.317445,-0.403738,-0.002152,1.931827,...,-1.013317,-0.704340,-0.002072,-0.000466,-0.00083,-0.697928,0.006276,-0.751201,-0.562478,0.001324

In [46]:
x_valid_mean=X_valid_mean.values
x_valid_mean_scaled = scaler.fit_transform(x_valid_mean)
X_valid_norm=pd.DataFrame(x_valid_mean_scaled)
X_valid_norm

,0,1,2,3,4,5,6,7,8,9,...,94,95,96,97,98,99,100,101,102,103
0,-0.393697,-0.915888,0.009954,0.02609,-0.013254,10.982597,0.536397,-0.346221,-1.422102,-0.710265,...,0.066240,-0.008058,0.044181,0.019327,-0.013102,-0.010485,0.008788,-1.473028,-0.343132,0.009184
1,-0.184365,-0.009034,0.009954,0.02609,-0.013254,-0.630982,4.205340,-0.013436,0.020664,-2.142127,...,0.066240,-0.008058,0.044181,0.019327,-0.013102,1.796148,-9.539431,-0.853042,1.454446,0.009184
2,-0.395812,0.051783,0.009954,0.02609,-0.013254,-1.405221,-1.909565,-0.336712,-0.920457,0.005667,...,0.066240,-0.008058,0.044181,0.019327,-0.013102,0.201964,-10.257162,0.944918,-0.043535,0.009184
3,0.111521,-0.009034,0.009954,0.02609,-0.013254,0.083245,0.343197,0.115898,0.020664,0.482954,...,2.565049,-0.008058,0.044181,0.019327,-0.013102,-0.010485,0.008788,1.027583,0.949863,-0.708002
4,-0.389468,-0.190135,0.009954,0.02609,-0.013254,-0.752432,-0.380839,-0.414362,-0.418813,0.005667,...,0.586173,0.751600,0.044181,0.019327,-0.013102,-0.010485,0.008788,-0.522383,-0.358900,0.009184
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2389,-0.342950,-0.009034,0.009954,0.02609,-0.013254,-1.040873,-1.298075,-0.324035,0.020664,1.676173,...,0.066240,-0.008058,0.044181,0.019327,-0.013102,-0.010485,0.008788,-0.994197,1.564824,0.009184
2390,-0.421185,4.406306,0.009954,0.02609,-0.013254,-1.207866,-1.603820,-0.425455,0.082832,-1.426196,...,0.066240,-0.008058,0.044181,0.019327,-0.013102,-0.010485,0.008788,-1.574462,0.066842,0.009184
2391,-0.419071,-0.673970,0.009954,0.02609,-0.013254,1.524741,1.147887,-0.403269,0.020664,0.005667,...,-1.392703,-2.058517,0.044181,0.019327,-0.013102,-0.632298,0.008788,-1.097312,0.224525,1.451399
2392,0.111521,-0.009034,0.009954,0.02609,-0.013254,0.083245,-0.380839,0.115898,0.020664,2.869392,...,0.066240,-0.008058,0.044181,0.019327,-0.013102,-0.010485,0.008788,0.350765,-0.406204,0.009184
2393,-0.414842,-0.009034,0.009954,0.02609,-0.013254,-0.615801,-0.380839,-0.417532,0.020664,0.960242,...,0.066240,-0.008058,0.044181,0.019327,-0.013102,-0.690118,0.008788,-0.837542,-0.674264,0.009184

## Feature importance checking

# Data report

In [52]:
print("*"*60)
print("There are 3 set of X")
print("X_train_mean, X_valid_mean, X_test_mean")
print("-"*60)
print("Normalized version")
print("X_train_norm, X_valid_norm, X_test_norm")
print("-"*60)
print("There are 4 set of Y")
print("y_train_t1, y_train_t2, y_valid_t1, y_valid_t2")
print("*"*60)

************************************************************
There are 3 set of X
X_train_mean, X_valid_mean, X_test_mean
------------------------------------------------------------
Normalized version
X_train_norm, X_valid_norm, X_test_norm
------------------------------------------------------------
There are 4 set of Y
y_train_t1, y_train_t2, y_valid_t1, y_valid_t2
************************************************************