# Libraries

In [31]:
! pip install numpy pandas sklearn

Requirement already satisfied: numpy in c:\users\gcq20\appdata\local\programs\python\python37\lib\site-packages (1.21.6)
Requirement already satisfied: pandas in c:\users\gcq20\appdata\local\programs\python\python37\lib\site-packages (1.3.5)
Collecting sklearn
  Downloading https://files.pythonhosted.org/packages/1e/7a/dbb3be0ce9bd5c8b7e3d87328e79063f8b263b2b1bfa4774cb1147bfcd3f/sklearn-0.0.tar.gz
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\gcq20\appdata\roaming\python\python37\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\gcq20\appdata\local\programs\python\python37\lib\site-packages (from pandas) (2022.6)
Collecting scikit-learn (from sklearn)
  Downloading https://files.pythonhosted.org/packages/9d/20/0ffe8665a44bce7616bd33d4368a198fecad3b226bcafa38c63ef0f6286f/scikit_learn-1.0.2-cp37-cp37m-win_amd64.whl (7.1MB)
Requirement already satisfied: six>=1.5 in c:\users\gcq20\appdata\roaming\python\python37\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Collecting scipy>=1.1.0 (from scikit-learn->sklearn)
  Downloading https://files.pythonhosted.org/packages/40/69/4af412d078cef2298f7d90546fa0e03e65a032558bd85319239c72ae0c3c/scipy-1.7.3-cp37-cp37m-win_amd64.whl (34.1MB)
Collecting threadpoolctl>=2.0.0 (from scikit-learn->sklearn)
  Downloading https://files.pythonhosted.org/packages/61/cf/6e354304bcb9c6413c4e02a747b600061c21d38ba51e7e544ac7bc66aecc/threadpoolctl-3.1.0-py3-none-any.whl
Collecting joblib>=0.11 (from scikit-learn->sklearn)
  Downloading https://files.pythonhosted.org/packages/91/d4/3b4c8e5a30604df4c7518c562d4bf0502f2fa29221459226e140cf846512/joblib-1.2.0-py3-none-any.whl (297kB)
Installing collected packages: scipy, threadpoolctl, joblib, scikit-learn, sklearn
  Running setup.py install for sklearn: started
    Running setup.py install for sklearn: finished with status 'done'
Successfully installed joblib-1.2.0 scikit-learn-1.0.2 scipy-1.7.3 sklearn-0.0 threadpoolctl-3.1.0

WARNING: You are using pip version 19.2.3, however version 22.3 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [7]:
import numpy as np
import pandas as pd

# Import data

## X

In [25]:
# For training the model
X_train = pd.read_csv("../X/X_train.csv" , index_col=[0], header=[0, 1, 2])

In [26]:
X_train

LEVEL2               alanine aminotransferase                                \
Aggregation Function                     mask
hours_in                                    0    1    2    3    4    5    6
3_145834_211552                           1.0  0.0  0.0  0.0  0.0  0.0  0.0
6_107064_228232                           1.0  0.0  0.0  0.0  0.0  0.0  0.0
9_150750_220597                           0.0  0.0  0.0  0.0  0.0  0.0  0.0
11_194540_229441                          0.0  0.0  0.0  0.0  0.0  0.0  0.0
12_112213_232669                          0.0  0.0  0.0  0.0  0.0  0.0  0.0
...                                       ...  ...  ...  ...  ...  ...  ...
99966_167228_252173                       0.0  0.0  0.0  0.0  0.0  0.0  0.0
99973_150202_275083                       0.0  0.0  0.0  0.0  0.0  0.0  0.0
99982_151454_221194                       0.0  0.0  0.0  0.0  0.0  0.0  0.0
99991_151118_226241                       0.0  0.0  0.0  0.0  0.0  0.0  0.0
99995_137810_229633                       0.0  1.0  1.0  0.0  0.0  0.0  0.0

LEVEL2                               ... white blood cell count urine         \
Aggregation Function                 ...          time_since_measured
hours_in                7    8    9  ...                           14     15
3_145834_211552       0.0  0.0  0.0  ...                          6.0    7.0
6_107064_228232       0.0  0.0  0.0  ...                         30.0   31.0
9_150750_220597       0.0  0.0  0.0  ...                         54.0   55.0
11_194540_229441      0.0  0.0  0.0  ...                         78.0   79.0
12_112213_232669      0.0  0.0  0.0  ...                        102.0  103.0
...                   ...  ...  ...  ...                          ...    ...
99966_167228_252173   0.0  0.0  0.0  ...                         86.0   87.0
99973_150202_275083   0.0  0.0  0.0  ...                        110.0  111.0
99982_151454_221194   0.0  0.0  0.0  ...                        134.0  135.0
99991_151118_226241   0.0  0.0  0.0  ...                         14.0   15.0
99995_137810_229633   0.0  0.0  0.0  ...                         38.0   39.0

LEVEL2
Aggregation Function
hours_in                 16     17     18     19     20     21     22     23
3_145834_211552         8.0    9.0   10.0   11.0   12.0   13.0   14.0   15.0
6_107064_228232        32.0   33.0   34.0   35.0   36.0   37.0   38.0   39.0
9_150750_220597        56.0   57.0   58.0   59.0   60.0   61.0   62.0   63.0
11_194540_229441       80.0   81.0   82.0   83.0   84.0   85.0   86.0   87.0
12_112213_232669      104.0  105.0  106.0  107.0  108.0  109.0  110.0  111.0
...                     ...    ...    ...    ...    ...    ...    ...    ...
99966_167228_252173    88.0   89.0   90.0   91.0   92.0   93.0   94.0   95.0
99973_150202_275083   112.0  113.0  114.0  115.0  116.0  117.0  118.0  119.0
99982_151454_221194   136.0  137.0  138.0  139.0  140.0  141.0  142.0  143.0
99991_151118_226241    16.0   17.0   18.0   19.0   20.0   21.0   22.0   23.0
99995_137810_229633    40.0   41.0   42.0   43.0   44.0   45.0   46.0   47.0

[16760 rows x 7488 columns]

In [27]:
# For cross validation
X_valid = pd.read_csv("../X/X_valid.csv", index_col=[0], header=[0, 1, 2])

In [28]:
# For prediction
X_test = pd.read_csv("../X/X_test.csv", index_col=[0], header=[0, 1, 2])

## Task 1

In [24]:
y_train_t1 = pd.read_csv("../Task1/Y_train.csv")
y_valid_t1 = pd.read_csv("../Task1/Y_valid.csv")

## Task 2

In [29]:
y_train_t2 = pd.read_csv("../Task2/Y_train.csv")
y_valid_t2 = pd.read_csv("../Task2/Y_valid.csv")

# Data Pre-processing

## Dealing with N/A data

In [30]:
print(X_train.isna().sum().sum())
print(X_valid.isna().sum().sum())
print(X_test.isna().sum().sum())

0
0
0

All data are well-recorded. There is no N/A data

## Normalization

In [32]:
from sklearn import preprocessing
scaler = preprocessing.StandardScaler()
x_train=X_train.values
x_train_scaled = scaler.fit_transform(x_train)
X_train_norm=pd.DataFrame(x_train_scaled)

In [33]:
x_valid=X_valid.values
x_valid_scaled = scaler.fit_transform(x_valid)
X_valid_norm=pd.DataFrame(x_valid_scaled)

In [34]:
y1_train=y_train_t1.values
y1_train_scaled = scaler.fit_transform(y1_train)
y_train_t1_norm=pd.DataFrame(y1_train_scaled)

In [35]:
y1_valid=y_valid_t1.values
y1_valid_scaled = scaler.fit_transform(y1_valid)
y_valid_t1_norm=pd.DataFrame(y1_valid_scaled)

In [36]:
y2_train=y_train_t2.values
y2_train_scaled = scaler.fit_transform(y2_train)
y_train_t2_norm=pd.DataFrame(y2_train_scaled)

In [37]:
y2_valid=y_valid_t2.values
y2_valid_scaled = scaler.fit_transform(y2_valid)
y_valid_t2_norm=pd.DataFrame(y2_valid_scaled)

## Statistics Calculation

In [61]:
li=[] # Find the positions of the columns with means of the particular feature after 24 hours
for i in range(47, 7488, 72):
    li.append(i)
#print(li)

In [62]:
dx_train = pd. DataFrame(x_train)
X_train_mean= dx_train[li]
print(X_train_mean)

           47        119   191   263   335       407       479       551   \
0     -0.254460 -1.979855   0.0   0.0   0.0 -0.318615  0.152716 -0.226618
1     -0.256599 -0.251806   0.0   0.0   0.0 -0.422405  1.361109 -0.254291
2     -0.269432  0.000000   0.0   0.0   0.0 -0.367050 -0.330641 -0.271686
3      0.000000  0.000000   0.0   0.0   0.0  0.000000 -0.088963  0.000000
4      0.000000  0.000000   0.0   0.0   0.0  0.000000 -0.813998  0.000000
...         ...       ...   ...   ...   ...       ...       ...       ...
16755  0.000000  1.044231   0.0   0.0   0.0  0.000000 -0.813998  0.000000
16756  0.000000  0.000000   0.0   0.0   0.0  0.000000 -0.088963  0.000000
16757 -0.260876  1.044231   0.0   0.0   0.0 -0.297857 -0.330641 -0.261407
16758  0.000000  0.000000   0.0   0.0   0.0  0.000000 -1.055677  0.000000
16759 -0.243765  0.000000   0.0   0.0   0.0 -0.207906 -1.297356 -0.221874

           623       695   ...      6815      6887  6959  7031  7103  \
0      0.000000 -1.337656  ...  0.440628  0.000000   0.0   0.0   0.0
1     -0.742403 -1.123327  ...  0.000000  0.000000   0.0   0.0   0.0
2      2.097036  0.591306  ...  1.279148  0.000000   0.0   0.0   0.0
3      0.000000  0.591306  ...  0.000000  0.000000   0.0   0.0   0.0
4      0.000000  0.376977  ...  0.440628 -1.333059   0.0   0.0   0.0
...         ...       ...  ...       ...       ...   ...   ...   ...
16755  0.290121  0.376977  ...  0.000000  0.000000   0.0   0.0   0.0
16756 -0.742403 -2.409302  ...  0.000000  0.000000   0.0   0.0   0.0
16757  0.000000  1.448622  ...  0.000000  0.000000   0.0   0.0   0.0
16758  0.000000  0.591306  ...  0.000000  0.000000   0.0   0.0   0.0
16759  0.000000  1.877280  ... -0.817152 -0.406955   0.0   0.0   0.0

           7175  7247      7319      7391      7463
0      0.000000   0.0  1.026004  0.583116  0.160067
1      0.000000   0.0  0.000000 -0.181589  0.000000
2      0.000000   0.0  0.000000  0.107507  0.000000
3      0.000000   0.0  0.000000  0.023576  0.000000
4     -0.317391   0.0  0.000000 -0.442708  0.000000
...         ...   ...       ...       ...       ...
16755 -0.366371   0.0  0.584864 -0.162937  0.000000
16756 -0.361918   0.0  0.973702  0.405929  0.000000
16757  0.000000   0.0 -0.472878 -0.480010  0.000000
16758  0.000000   0.0  0.781214 -0.489336 -0.303768
16759 -0.366371   0.0 -0.608981 -0.489336  0.000000

[16760 rows x 104 columns]

In [67]:
dx_valid = pd. DataFrame(x_valid)
X_valid_mean= dx_valid[li]

,47,119,191,263,335,407,479,551,623,695,...,6815,6887,6959,7031,7103,7175,7247,7319,7391,7463
0,-0.255529,-0.539814,0.0,0.0,0.0,4.967764,0.152716,-0.230571,-0.742403,-0.480340,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,-1.220127,-0.265520,0.000000
1,-0.149653,0.000000,0.0,0.0,0.0,-0.325534,3.052859,-0.064531,0.000000,-1.766315,...,0.000000,0.000000,0.0,0.0,0.0,0.973905,-0.794602,-0.705746,0.797607,0.000000
2,-0.256599,0.036202,0.0,0.0,0.0,-0.678421,-1.780713,-0.225827,-0.484272,0.162647,...,0.000000,0.000000,0.0,0.0,0.0,0.114525,-0.854332,0.785960,-0.088332,0.000000
3,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.591306,...,2.117668,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.854544,0.499185,-0.249199
4,-0.253390,-0.107802,0.0,0.0,0.0,-0.380889,-0.572320,-0.264570,-0.226141,0.162647,...,0.440628,0.457595,0.0,0.0,0.0,0.000000,0.000000,-0.431409,-0.274846,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2389,-0.229862,0.000000,0.0,0.0,0.0,-0.512357,-1.297356,-0.219502,0.000000,1.662951,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,-0.822857,0.862887,0.000000
2390,-0.269432,2.628276,0.0,0.0,0.0,-0.588469,-1.539034,-0.270104,0.031990,-1.123327,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,-1.304283,-0.023052,0.000000
2391,-0.268363,-0.395810,0.0,0.0,0.0,0.657012,0.636073,-0.259035,0.000000,0.162647,...,-1.236412,-1.235133,0.0,0.0,0.0,-0.335202,0.000000,-0.908408,0.070204,0.501123
2392,0.000000,0.000000,0.0,0.0,0.0,0.000000,-0.572320,0.000000,0.000000,2.734597,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.293011,-0.302823,0.000000
2393,-0.266224,0.000000,0.0,0.0,0.0,-0.318615,-0.572320,-0.266151,0.000000,1.019964,...,0.000000,0.000000,0.0,0.0,0.0,-0.366371,0.000000,-0.692886,-0.461359,0.000000

In [66]:
x_test=X_test.values
dx_test = pd. DataFrame(x_test)
X_test_mean= dx_test[li]

## Feature importance checking

##

# Export processed data when done

import openpyxl
X_valid.to_excel('Xvalid.xlsx', sheet_name='new_sheet_name')