# Libraries

! pip install numpy pandas sklearn

In [2]:
import numpy as np
import pandas as pd

# Import data

## X

In [3]:
# For training the model
X_train = pd.read_csv("../X/X_train.csv" , index_col=[0], header=[0, 1, 2])

In [4]:
X_train

LEVEL2               alanine aminotransferase                                \
Aggregation Function                     mask
hours_in                                    0    1    2    3    4    5    6
3_145834_211552                           1.0  0.0  0.0  0.0  0.0  0.0  0.0
6_107064_228232                           1.0  0.0  0.0  0.0  0.0  0.0  0.0
9_150750_220597                           0.0  0.0  0.0  0.0  0.0  0.0  0.0
11_194540_229441                          0.0  0.0  0.0  0.0  0.0  0.0  0.0
12_112213_232669                          0.0  0.0  0.0  0.0  0.0  0.0  0.0
...                                       ...  ...  ...  ...  ...  ...  ...
99966_167228_252173                       0.0  0.0  0.0  0.0  0.0  0.0  0.0
99973_150202_275083                       0.0  0.0  0.0  0.0  0.0  0.0  0.0
99982_151454_221194                       0.0  0.0  0.0  0.0  0.0  0.0  0.0
99991_151118_226241                       0.0  0.0  0.0  0.0  0.0  0.0  0.0
99995_137810_229633                       0.0  1.0  1.0  0.0  0.0  0.0  0.0

LEVEL2                               ... white blood cell count urine         \
Aggregation Function                 ...          time_since_measured
hours_in                7    8    9  ...                           14     15
3_145834_211552       0.0  0.0  0.0  ...                          6.0    7.0
6_107064_228232       0.0  0.0  0.0  ...                         30.0   31.0
9_150750_220597       0.0  0.0  0.0  ...                         54.0   55.0
11_194540_229441      0.0  0.0  0.0  ...                         78.0   79.0
12_112213_232669      0.0  0.0  0.0  ...                        102.0  103.0
...                   ...  ...  ...  ...                          ...    ...
99966_167228_252173   0.0  0.0  0.0  ...                         86.0   87.0
99973_150202_275083   0.0  0.0  0.0  ...                        110.0  111.0
99982_151454_221194   0.0  0.0  0.0  ...                        134.0  135.0
99991_151118_226241   0.0  0.0  0.0  ...                         14.0   15.0
99995_137810_229633   0.0  0.0  0.0  ...                         38.0   39.0

LEVEL2
Aggregation Function
hours_in                 16     17     18     19     20     21     22     23
3_145834_211552         8.0    9.0   10.0   11.0   12.0   13.0   14.0   15.0
6_107064_228232        32.0   33.0   34.0   35.0   36.0   37.0   38.0   39.0
9_150750_220597        56.0   57.0   58.0   59.0   60.0   61.0   62.0   63.0
11_194540_229441       80.0   81.0   82.0   83.0   84.0   85.0   86.0   87.0
12_112213_232669      104.0  105.0  106.0  107.0  108.0  109.0  110.0  111.0
...                     ...    ...    ...    ...    ...    ...    ...    ...
99966_167228_252173    88.0   89.0   90.0   91.0   92.0   93.0   94.0   95.0
99973_150202_275083   112.0  113.0  114.0  115.0  116.0  117.0  118.0  119.0
99982_151454_221194   136.0  137.0  138.0  139.0  140.0  141.0  142.0  143.0
99991_151118_226241    16.0   17.0   18.0   19.0   20.0   21.0   22.0   23.0
99995_137810_229633    40.0   41.0   42.0   43.0   44.0   45.0   46.0   47.0

[16760 rows x 7488 columns]

In [5]:
# For cross validation
X_valid = pd.read_csv("../X/X_valid.csv", index_col=[0], header=[0, 1, 2])

In [6]:
# For prediction
X_test = pd.read_csv("../X/X_test.csv", index_col=[0], header=[0, 1, 2])

## Task 1

In [7]:
y_train_t1 = pd.read_csv("../Task1/Y_train.csv")
y_valid_t1 = pd.read_csv("../Task1/Y_valid.csv")

## Task 2

In [8]:
y_train_t2 = pd.read_csv("../Task2/Y_train.csv")
y_valid_t2 = pd.read_csv("../Task2/Y_valid.csv")

# Data Pre-processing

## Dealing with N/A data

In [9]:
print(X_train.isna().sum().sum())
print(X_valid.isna().sum().sum())
print(X_test.isna().sum().sum())

0
0
0

All data are well-recorded. There is no N/A data

## Normalization

In [10]:
from sklearn import preprocessing
scaler = preprocessing.StandardScaler()
x_train=X_train.values
x_train_scaled = scaler.fit_transform(x_train)
X_train_norm=pd.DataFrame(x_train_scaled)
print(X_train)

LEVEL2               alanine aminotransferase                                \
Aggregation Function                     mask
hours_in                                    0    1    2    3    4    5    6
3_145834_211552                           1.0  0.0  0.0  0.0  0.0  0.0  0.0
6_107064_228232                           1.0  0.0  0.0  0.0  0.0  0.0  0.0
9_150750_220597                           0.0  0.0  0.0  0.0  0.0  0.0  0.0
11_194540_229441                          0.0  0.0  0.0  0.0  0.0  0.0  0.0
12_112213_232669                          0.0  0.0  0.0  0.0  0.0  0.0  0.0
...                                       ...  ...  ...  ...  ...  ...  ...
99966_167228_252173                       0.0  0.0  0.0  0.0  0.0  0.0  0.0
99973_150202_275083                       0.0  0.0  0.0  0.0  0.0  0.0  0.0
99982_151454_221194                       0.0  0.0  0.0  0.0  0.0  0.0  0.0
99991_151118_226241                       0.0  0.0  0.0  0.0  0.0  0.0  0.0
99995_137810_229633                       0.0  1.0  1.0  0.0  0.0  0.0  0.0

LEVEL2                               ... white blood cell count urine         \
Aggregation Function                 ...          time_since_measured
hours_in                7    8    9  ...                           14     15
3_145834_211552       0.0  0.0  0.0  ...                          6.0    7.0
6_107064_228232       0.0  0.0  0.0  ...                         30.0   31.0
9_150750_220597       0.0  0.0  0.0  ...                         54.0   55.0
11_194540_229441      0.0  0.0  0.0  ...                         78.0   79.0
12_112213_232669      0.0  0.0  0.0  ...                        102.0  103.0
...                   ...  ...  ...  ...                          ...    ...
99966_167228_252173   0.0  0.0  0.0  ...                         86.0   87.0
99973_150202_275083   0.0  0.0  0.0  ...                        110.0  111.0
99982_151454_221194   0.0  0.0  0.0  ...                        134.0  135.0
99991_151118_226241   0.0  0.0  0.0  ...                         14.0   15.0
99995_137810_229633   0.0  0.0  0.0  ...                         38.0   39.0

LEVEL2
Aggregation Function
hours_in                 16     17     18     19     20     21     22     23
3_145834_211552         8.0    9.0   10.0   11.0   12.0   13.0   14.0   15.0
6_107064_228232        32.0   33.0   34.0   35.0   36.0   37.0   38.0   39.0
9_150750_220597        56.0   57.0   58.0   59.0   60.0   61.0   62.0   63.0
11_194540_229441       80.0   81.0   82.0   83.0   84.0   85.0   86.0   87.0
12_112213_232669      104.0  105.0  106.0  107.0  108.0  109.0  110.0  111.0
...                     ...    ...    ...    ...    ...    ...    ...    ...
99966_167228_252173    88.0   89.0   90.0   91.0   92.0   93.0   94.0   95.0
99973_150202_275083   112.0  113.0  114.0  115.0  116.0  117.0  118.0  119.0
99982_151454_221194   136.0  137.0  138.0  139.0  140.0  141.0  142.0  143.0
99991_151118_226241    16.0   17.0   18.0   19.0   20.0   21.0   22.0   23.0
99995_137810_229633    40.0   41.0   42.0   43.0   44.0   45.0   46.0   47.0

[16760 rows x 7488 columns]

In [11]:
x_valid=X_valid.values
x_valid_scaled = scaler.fit_transform(x_valid)
X_valid_norm=pd.DataFrame(x_valid_scaled)

In [12]:
y1_train=y_train_t1.values
y1_train_scaled = scaler.fit_transform(y1_train)
y_train_t1_norm=pd.DataFrame(y1_train_scaled)

In [13]:
y1_valid=y_valid_t1.values
y1_valid_scaled = scaler.fit_transform(y1_valid)
y_valid_t1_norm=pd.DataFrame(y1_valid_scaled)

In [14]:
y2_train=y_train_t2.values
y2_train_scaled = scaler.fit_transform(y2_train)
y_train_t2_norm=pd.DataFrame(y2_train_scaled)

In [15]:
y2_valid=y_valid_t2.values
y2_valid_scaled = scaler.fit_transform(y2_valid)
y_valid_t2_norm=pd.DataFrame(y2_valid_scaled)

## Statistics Calculation

In [16]:
li=[] # Find the positions of the columns with means of the particular feature after 24 hours
for i in range(47, 7488, 72):
    li.append(i)
#print(li)

In [21]:
dx_train = pd. DataFrame(x_train)
X_train_mean= dx_train[li]
print(X_train_mean)

           47        119   191   263   335       407       479       551   \
0     -0.254460 -1.979855   0.0   0.0   0.0 -0.318615  0.152716 -0.226618
1     -0.256599 -0.251806   0.0   0.0   0.0 -0.422405  1.361109 -0.254291
2     -0.269432  0.000000   0.0   0.0   0.0 -0.367050 -0.330641 -0.271686
3      0.000000  0.000000   0.0   0.0   0.0  0.000000 -0.088963  0.000000
4      0.000000  0.000000   0.0   0.0   0.0  0.000000 -0.813998  0.000000
...         ...       ...   ...   ...   ...       ...       ...       ...
16755  0.000000  1.044231   0.0   0.0   0.0  0.000000 -0.813998  0.000000
16756  0.000000  0.000000   0.0   0.0   0.0  0.000000 -0.088963  0.000000
16757 -0.260876  1.044231   0.0   0.0   0.0 -0.297857 -0.330641 -0.261407
16758  0.000000  0.000000   0.0   0.0   0.0  0.000000 -1.055677  0.000000
16759 -0.243765  0.000000   0.0   0.0   0.0 -0.207906 -1.297356 -0.221874

           623       695   ...      6815      6887  6959  7031  7103  \
0      0.000000 -1.337656  ...  0.440628  0.000000   0.0   0.0   0.0
1     -0.742403 -1.123327  ...  0.000000  0.000000   0.0   0.0   0.0
2      2.097036  0.591306  ...  1.279148  0.000000   0.0   0.0   0.0
3      0.000000  0.591306  ...  0.000000  0.000000   0.0   0.0   0.0
4      0.000000  0.376977  ...  0.440628 -1.333059   0.0   0.0   0.0
...         ...       ...  ...       ...       ...   ...   ...   ...
16755  0.290121  0.376977  ...  0.000000  0.000000   0.0   0.0   0.0
16756 -0.742403 -2.409302  ...  0.000000  0.000000   0.0   0.0   0.0
16757  0.000000  1.448622  ...  0.000000  0.000000   0.0   0.0   0.0
16758  0.000000  0.591306  ...  0.000000  0.000000   0.0   0.0   0.0
16759  0.000000  1.877280  ... -0.817152 -0.406955   0.0   0.0   0.0

           7175  7247      7319      7391      7463
0      0.000000   0.0  1.026004  0.583116  0.160067
1      0.000000   0.0  0.000000 -0.181589  0.000000
2      0.000000   0.0  0.000000  0.107507  0.000000
3      0.000000   0.0  0.000000  0.023576  0.000000
4     -0.317391   0.0  0.000000 -0.442708  0.000000
...         ...   ...       ...       ...       ...
16755 -0.366371   0.0  0.584864 -0.162937  0.000000
16756 -0.361918   0.0  0.973702  0.405929  0.000000
16757  0.000000   0.0 -0.472878 -0.480010  0.000000
16758  0.000000   0.0  0.781214 -0.489336 -0.303768
16759 -0.366371   0.0 -0.608981 -0.489336  0.000000

[16760 rows x 104 columns] 10

In [19]:
x_train_mean=X_train_mean.values
x_train_mean_scaled = scaler.fit_transform(x_train_mean)
X_train_mean_norm=pd.DataFrame(x_train_mean_scaled)
print(X_train_mean_norm)

            0         1             2         3             4         5    \
0     -0.467274 -3.269616 -3.298809e-17 -0.000308 -7.205090e-19 -0.516323
1     -0.472515 -0.434872 -3.298809e-17 -0.000308 -7.205090e-19 -0.702852
2     -0.503966 -0.021802 -3.298809e-17 -0.000308 -7.205090e-19 -0.603370
3      0.156329 -0.021802 -3.298809e-17 -0.000308 -7.205090e-19  0.056287
4      0.156329 -0.021802 -3.298809e-17 -0.000308 -7.205090e-19  0.056287
...         ...       ...           ...       ...           ...       ...
16755  0.156329  1.691187 -3.298809e-17 -0.000308 -7.205090e-19  0.056287
16756  0.156329 -0.021802 -3.298809e-17 -0.000308 -7.205090e-19  0.056287
16757 -0.482999  1.691187 -3.298809e-17 -0.000308 -7.205090e-19 -0.479017
16758  0.156329 -0.021802 -3.298809e-17 -0.000308 -7.205090e-19  0.056287
16759 -0.441065 -0.021802 -3.298809e-17 -0.000308 -7.205090e-19 -0.317357

            6         7         8         9    ...       94        95   \
0      0.472435 -0.416013 -0.002152 -1.642616  ...  0.588699 -0.016474
1      1.964001 -0.487618 -1.167979 -1.404320  ...  0.027478 -0.016474
2     -0.124192 -0.532627  3.290917  0.502050  ...  1.656710 -0.016474
3      0.174121  0.170363 -0.002152  0.502050  ...  0.027478 -0.016474
4     -0.720819  0.170363 -0.002152  0.263754  ...  0.588699 -2.269709
...         ...       ...       ...       ...  ...       ...       ...
16755 -0.720819  0.170363  0.453437  0.263754  ...  0.027478 -0.016474
16756  0.174121  0.170363 -1.167979 -2.834097  ...  0.027478 -0.016474
16757 -0.124192 -0.506031 -0.002152  1.455235  ...  0.027478 -0.016474
16758 -1.019132  0.170363 -0.002152  0.502050  ...  0.027478 -0.016474
16759 -1.317445 -0.403738 -0.002152  1.931827  ... -1.013317 -0.704340

            96        97       98        99        100       101       102  \
0     -0.002072 -0.000466 -0.00083  0.023948  0.006276  1.248148  0.790475
1     -0.002072 -0.000466 -0.00083  0.023948  0.006276 -0.006506 -0.174239
2     -0.002072 -0.000466 -0.00083  0.023948  0.006276 -0.006506  0.190470
3     -0.002072 -0.000466 -0.00083  0.023948  0.006276 -0.006506  0.084586
4     -0.002072 -0.000466 -0.00083 -0.601420  0.006276 -0.006506 -0.503654
...         ...       ...      ...       ...       ...       ...       ...
16755 -0.002072 -0.000466 -0.00083 -0.697928  0.006276  0.708698 -0.150710
16756 -0.002072 -0.000466 -0.00083 -0.689154  0.006276  1.184190  0.566944
16757 -0.002072 -0.000466 -0.00083  0.023948  0.006276 -0.584767 -0.550713
16758 -0.002072 -0.000466 -0.00083  0.023948  0.006276  0.948804 -0.562478
16759 -0.002072 -0.000466 -0.00083 -0.697928  0.006276 -0.751201 -0.562478

            103
0      0.474539
1      0.001324
2      0.001324
3      0.001324
4      0.001324
...         ...
16755  0.001324
16756  0.001324
16757  0.001324
16758 -0.896721
16759  0.001324

[16760 rows x 104 columns]

In [23]:
dx_valid = pd. DataFrame(x_valid)
X_valid_mean= dx_valid[li]

In [24]:
x_valid_mean=X_valid_mean.values
x_valid_mean_scaled = scaler.fit_transform(x_valid_mean)
X_valid_mean_norm=pd.DataFrame(x_valid_mean_scaled)
print(X_valid_mean_norm)

           0         1         2        3         4          5         6    \
0    -0.393697 -0.915888  0.009954  0.02609 -0.013254  10.982597  0.536397
1    -0.184365 -0.009034  0.009954  0.02609 -0.013254  -0.630982  4.205340
2    -0.395812  0.051783  0.009954  0.02609 -0.013254  -1.405221 -1.909565
3     0.111521 -0.009034  0.009954  0.02609 -0.013254   0.083245  0.343197
4    -0.389468 -0.190135  0.009954  0.02609 -0.013254  -0.752432 -0.380839
...        ...       ...       ...      ...       ...        ...       ...
2389 -0.342950 -0.009034  0.009954  0.02609 -0.013254  -1.040873 -1.298075
2390 -0.421185  4.406306  0.009954  0.02609 -0.013254  -1.207866 -1.603820
2391 -0.419071 -0.673970  0.009954  0.02609 -0.013254   1.524741  1.147887
2392  0.111521 -0.009034  0.009954  0.02609 -0.013254   0.083245 -0.380839
2393 -0.414842 -0.009034  0.009954  0.02609 -0.013254  -0.615801 -0.380839

           7         8         9    ...       94        95        96   \
0    -0.346221 -1.422102 -0.710265  ...  0.066240 -0.008058  0.044181
1    -0.013436  0.020664 -2.142127  ...  0.066240 -0.008058  0.044181
2    -0.336712 -0.920457  0.005667  ...  0.066240 -0.008058  0.044181
3     0.115898  0.020664  0.482954  ...  2.565049 -0.008058  0.044181
4    -0.414362 -0.418813  0.005667  ...  0.586173  0.751600  0.044181
...        ...       ...       ...  ...       ...       ...       ...
2389 -0.324035  0.020664  1.676173  ...  0.066240 -0.008058  0.044181
2390 -0.425455  0.082832 -1.426196  ...  0.066240 -0.008058  0.044181
2391 -0.403269  0.020664  0.005667  ... -1.392703 -2.058517  0.044181
2392  0.115898  0.020664  2.869392  ...  0.066240 -0.008058  0.044181
2393 -0.417532  0.020664  0.960242  ...  0.066240 -0.008058  0.044181

           97        98        99         100       101       102       103
0     0.019327 -0.013102 -0.010485   0.008788 -1.473028 -0.343132  0.009184
1     0.019327 -0.013102  1.796148  -9.539431 -0.853042  1.454446  0.009184
2     0.019327 -0.013102  0.201964 -10.257162  0.944918 -0.043535  0.009184
3     0.019327 -0.013102 -0.010485   0.008788  1.027583  0.949863 -0.708002
4     0.019327 -0.013102 -0.010485   0.008788 -0.522383 -0.358900  0.009184
...        ...       ...       ...        ...       ...       ...       ...
2389  0.019327 -0.013102 -0.010485   0.008788 -0.994197  1.564824  0.009184
2390  0.019327 -0.013102 -0.010485   0.008788 -1.574462  0.066842  0.009184
2391  0.019327 -0.013102 -0.632298   0.008788 -1.097312  0.224525  1.451399
2392  0.019327 -0.013102 -0.010485   0.008788  0.350765 -0.406204  0.009184
2393  0.019327 -0.013102 -0.690118   0.008788 -0.837542 -0.674264  0.009184

[2394 rows x 104 columns]

In [66]:
x_test=X_test.values
dx_test = pd. DataFrame(x_test)
X_test_mean= dx_test[li]

## Feature importance checking

# Export processed data when done

In [ ]:
from sklearn import linear_model

linear_reg= linear_model.LinearRegression()
reg.fit(X_train_mean_norm,)